### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear

*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*




target/

!**/src/main/**
!**/src/test/**
### IntelliJIDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
mvnw*

### MAC ###
.DS_Store

### Other ###
1ogs/
1og
temp/

# 用户配置信息，容易暴露
mybatis-01/src/main/resources/mybatis-config.xml
mybatis-02/src/main/resources/mybatis-config.xml
db.properties

